#experience{
    position: relative;
}

.experience-section-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    align-items: stretch; /* Force la même hauteur pour tous les blocs */
}

.details-container{
    padding: 1.5rem;
    flex: 1;
    background: white;
    border-radius: 2rem;
    border: 0.1rem solid rgb(163,163,163);
    text-align: center;
    width: 320px;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    height: auto;
}

.details-container:hover{
    cursor: pointer;
    transform: scale(1.05);
    background-color: gray;
}


/* Media queries pour mobile */
@media (max-width: 768px) {
    .experience-section-container {
        flex-direction: column;
        gap: 1.5rem;
        align-items: center;
    }
    
    .details-container {
        width: 90%;
    }
}
.article-container article {
  display: flex;
  align-items: center;
  gap: 0.5rem; /* espace entre icône et texte */
}

.article-container article .icon {
  width: 20px; /* ajuste selon la taille de ton icône */
  height: 20px;
}
